.br-r {
  border-radius: 1rem;
}

.bx-shadow {
  box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.2);
}

.br-btn-primary {
  border: 1px solid var(--blue-900) !important;
}

.image-container {
  position: relative;
  height: auto;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  /* bottom: 0; */
  left: 0;
  background-color: white;
  color: black;
  padding: 12px;
  margin: 2rem 2rem;
}

.container-l {
  max-width: 650px !important;
}

.form-control:focus {
  border-color: var(--blue-900) !important;
  box-shadow: unset !important;
}